html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: ArialGeo;
    src: url(../FONTS/BPGArial/BPGArial.ttf);
}

@font-face {
    font-family: NinoMtavruli;
    src: url(../FONTS/BPGNinoMtavruli/BPGNinoMtavruli.ttf);
}

@font-face {
    font-family: NinoMtavruli;
    src: url(../FONTS/BPGNinoMtavruli/bpg_nino_mtavruli_bold.ttf);
	font-weight: bold;
}

.clearfix {
	clear: both;
}

.small-line {
	width: 40px;
	border-bottom:  2px solid #E3530D; 
	display: inline-block;
	margin: 10px;
	margin-top: 8px;
	vertical-align: top;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
	font-family: NinoMtavruli;
	overflow-x: hidden;
	color: #212722;
}
