header {
	width: 100vw;
	position: relative;
}

.header-nav, .logo-container, .contact-button-container {
	box-sizing: border-box;
	float: left;
	vertical-align: middle;
	text-align: center;
	height: 65px;	
	padding-top: 23px;		
}

.logo-container, .contact-button-container {
	width: 200px;
}

.header-nav, .texture-top {
	width: calc(100% - 400px);	
}

.texture-top-container, .texture-bottom-container {
	position: absolute;
	width: 100%;
	z-index: 3;
}

.texture-top-container{
	top: 0;
}

.texture-bottom-container {
	bottom: 0;
}

.texture-top, .texture-bottom {
	margin: 0 auto;
	clear: both;
	background-size: 100% auto;
	height: 24px;
    max-width: 1000px;
    width: 100%;
    z-index: 500;
}

.texture-top {
	background: url(../IMAGES/texture-top.png) no-repeat top right;	
}

.texture-bottom {
	background: url(../IMAGES/texture-bottom.png) no-repeat bottom right;
}

.header-nav a {
	color: #212722;
	text-decoration: none;
	box-sizing: border-box;
	display: inline-block;
	padding-bottom: 10px;
	margin: 0 10px;
	font-weight: bold;
}

.header-nav a:hover {
	border-bottom: 4px solid #E3530D;
}

.contact-button-container {
	background: #E3530D;
	color: white;
	font-weight: bold;
}

.contact-button-container a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

/* Main image part */
.main-image-container {
	position: relative;
	widows: 100%;
	height: 500px;
	background-image: url(../IMAGES/wallpaper.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.overflow {
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.4;
	z-index: 1;
}

.description-container {
	position: absolute;
	top: calc(50% - 70px);
	color: white;
	width: 100%;
	z-index: 2;
}

.headline, .main-description {
	display: block;
	margin: 10px auto;
	max-width: 800px;
	line-height: 35px;
}

.headline {
	font-size: 38px;
	font-weight: bold;
}

.main-description {
	font-size: 20px;
}

/* Popular tours part */
.popular-tours-container {
	width: 100%;
	box-sizing: border-box;
	position: relative;
	padding: 20px;
}

.popular-tours-headline {
	font-size: 28px;
	text-align: center;
}

.tours {
	display: block;
	box-sizing: border-box;
	width: calc(100% - 40px);
	padding: 0;
	text-align: center;
	margin: 0 auto;
}

.single-tour-container {
	box-sizing: border-box;
	display: inline-block;
	height: 350px;
	padding: 10px;
}

@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */
	.single-tour-container {
		width: 100%;
	}
}
@media (min-width:481px) { 
	.single-tour-container { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
		width: 49%;
	}
}

@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
	.single-tour-container {
		width: 32%;
	}
}

@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
	.single-tour-container {
		width: 24%;
	}
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
	.single-tour-container {
		width: 24%;
	}
}

@media (min-width:1281px) { /* hi-res laptops and desktops */ 
	.single-tour-container {
		width: 19%;
	}
}

.single-tour {
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	border: 1px solid lightgray;
}

.single-tour .image-container {
	position: relative;
	width: 100%;
	height: 150px;
	overflow: hidden;
}

.single-tour img {
	width: 300px;
	min-width: 100%;
	height: 150px;
}
.single-tour .tour-description-container {
	overflow: hidden;
	display: block;
	box-sizing: border-box;
	padding: 0;
	width: calc(100% - 20px);
	height: calc(100% - 170px);
	margin-top: 10px;
	margin-left: 10px;
}

.single-tour .tour-description-container h4{
	font-size: 20px;
	text-transform: uppercase;
	height: 30px;
	overflow: hidden;
	white-space:nowrap; 
    text-overflow: ellipsis;
	font-weight: bold;
}

.single-tour .tour-description-container p{
	padding-top: 2px;
    text-align: left;
    overflow: hidden;
    max-height: calc(100% - 60px);
}

.single-tour .tour-description-container a{
	display: block;
	text-align: left;
	margin-top: 12px;
	text-decoration: none;
	color: #212722;
	font-weight: bold;
}

.single-tour .tour-description-container a:hover{
	border-bottom: 2px solid #E3530D;
}

/* Gallery styles */

.gallery {
	white-space: nowrap;
	overflow: hidden;
	border: 1px solid lightgray;
	position: relative;
	height: 170px;
}

.gallery .moving-container {
	position: absolute;
	height: 100%;
	left: 0;
}

.gallery .gallery-image {
	display: inline;
	max-width: 33%;
	height: 150px;
	vertical-align: top;
	margin: 10px 5px;
}

.gallery .gallery-left, .gallery .gallery-right {
	position: absolute;
	display: block;
	width: 40px;
	height: 100%;
	background: lightgray;
	opacity: 0.5;
	transition: 0.4s;
	z-index: 1;
}

.gallery .gallery-left i, .gallery .gallery-right i {
	margin-top: 70px;
	font-size: 30px;
}

.gallery .gallery-left:hover, .gallery .gallery-right:hover{
	opacity: 1;
	cursor: pointer;
}

.gallery .gallery-left {
	left: 0;
}

.gallery .gallery-right {
	right: 0;
}

@media (max-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */
	.gallery .gallery-image {
		max-width: 100%;
	}
}
@media (min-width:481px) {  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
	.gallery .gallery-image {
		max-width: 100%;
	}
}

@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
	.gallery .gallery-image {
		max-width: 75%;
	}
}

@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
	.gallery .gallery-image {
		max-width: 32%;
	}
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
	.gallery .gallery-image {
		max-width: 32%;
	}
}

@media (min-width:1281px) { /* hi-res laptops and desktops */ 
	.gallery .gallery-image {
		max-width: 32%;
	}
}